In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('autokz2019.csv',decimal =',', sep=';')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39966 entries, 0 to 39965
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Год                             39966 non-null  int64
 1   Месяц                           39966 non-null  object
 2   Компания                        39966 non-null  object
 3   Бренд                           39966 non-null  object
 4   Модель                          39966 non-null  object
 5   Модификация                     36375 non-null  object
 6   Год выпуска                     39465 non-null  object
 7   Страна-производитель            39966 non-null  object
 8   Вид топлива                     36826 non-null  object
 9   Объём двиг, л,                  35708 non-null  object
 10  Коробка передач                 36711 non-null  object
 11  Тип привода                     35677 non-null  object
 12  Сегмент                         33205 non-null  object
 13  Регион                          39966 non-null  object
 14  Наименование дилерского центра  39966 non-null  object
 15  Тип клиента                     32919 non-null  object
 16  Форма расчета                   14038 non-null  object
 17  Количество                      39960 non-null  float64
 18  Цена, USD                       39966 non-null  float64
 19  Продажа, USD                    39966 non-null  float64
 20  Область                         39966 non-null  object
 21  Сегментация 2013                39966 non-null  object
 22  Класс 2013                      39966 non-null  object
 23  Сегментация Eng                 39966 non-null  object
 24  Локализация производства        39966 non-null  object
dtypes: float64(3), int64(1), object(21)
memory usage: 7.6+ MB

удаляем столбцы: наименование дилерского центра, форма расчета, сегмент, сегментация eng, локализация производства, тип клиента и модификация (они либо бесполезны, либо много пропусков)

In [27]:
df = df.drop(df.columns[[5, 12, 14, 15, 16, 23, 24]], axis=1)

In [28]:
df.head()

,Год,Месяц,Компания,Бренд,Модель,Год выпуска,Страна-производитель,Вид топлива,"Объём двиг, л,",Коробка передач,Тип привода,Регион,Количество,"Цена, USD","Продажа, USD",Область,Сегментация 2013,Класс 2013
0,2019,Май,Mercur Auto,Audi,A3,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,28115.00,28115.00,г.Алматы,Легковые автомобили,C класс
1,2019,Август,Mercur Auto,Audi,A3,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,32246.99,32246.99,г.Алматы,Легковые автомобили,C класс
2,2019,Апрель,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-Tronic,FWD,Алматы,1.0,32000.00,32000.00,г.Алматы,Легковые автомобили,D класс
3,2019,Июль,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,31929.00,31929.00,г.Алматы,Легковые автомобили,D класс
4,2019,Июль,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,31929.00,31929.00,г.Алматы,Легковые автомобили,D класс

Изменим наименования столбцов

In [32]:
df=df.rename(columns={
    'Год': 'year', 'Месяц': 'month', 'Компания': 'company', 'Бренд': 'brand', 'Модель': 'model', 'Год выпуска': 'year_of_release', \
    'Страна-производитель': 'country_of_manufacture', 'Вид топлива': 'fuel', 'Объём двиг, л,': 'engine_volume', 'Коробка передач': 'transmission_box', \
    'Тип привода': 'type_of_drive', 'Регион': 'region', 'Количество': 'quantity', 'Цена, USD': 'price', 'Продажа, USD': 'sale', \
    'Область': 'oblact', 'Сегментация 2013': 'segment', 'Класс 2013': 'class'})

In [33]:
df.head()

,year,month,company,brand,model,year_of_release,country_of_manufacture,fuel,engine_volume,transmission_box,type_of_drive,region,quantity,price,sale,oblact,segment,class
0,2019,Май,Mercur Auto,Audi,A3,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,28115.00,28115.00,г.Алматы,Легковые автомобили,C класс
1,2019,Август,Mercur Auto,Audi,A3,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,32246.99,32246.99,г.Алматы,Легковые автомобили,C класс
2,2019,Апрель,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-Tronic,FWD,Алматы,1.0,32000.00,32000.00,г.Алматы,Легковые автомобили,D класс
3,2019,Июль,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,31929.00,31929.00,г.Алматы,Легковые автомобили,D класс
4,2019,Июль,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,31929.00,31929.00,г.Алматы,Легковые автомобили,D класс

Проверим датасет на пропуски

In [36]:
report = df.isna().sum().to_frame()
report = report.rename(columns = {0: 'missing_values'})
report['% of total'] = (report['missing_values'] / df.shape[0]).round(2)*100
report.sort_values(by = 'missing_values', ascending = False)

                        missing_values  % of total
type_of_drive                     4289        11.0
engine_volume                     4258        11.0
transmission_box                  3255         8.0
fuel                              3140         8.0
year_of_release                    501         1.0
quantity                             6         0.0
region                               0         0.0
segment                              0         0.0
oblact                               0         0.0
sale                                 0         0.0
price                                0         0.0
year                                 0         0.0
month                                0         0.0
country_of_manufacture               0         0.0
model                                0         0.0
brand                                0         0.0
company                              0         0.0
class                                0         0.0