In [103]:
import pandas as pd

In [104]:
df = pd.read_csv('autokz2019.csv',decimal =',', sep=';', skipinitialspace=True)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39966 entries, 0 to 39965
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Год                             39966 non-null  int64
 1   Месяц                           39966 non-null  object
 2   Компания                        39966 non-null  object
 3   Бренд                           39966 non-null  object
 4   Модель                          39966 non-null  object
 5   Модификация                     36375 non-null  object
 6   Год выпуска                     39465 non-null  object
 7   Страна-производитель            39966 non-null  object
 8   Вид топлива                     36826 non-null  object
 9   Объём двиг, л,                  35708 non-null  object
 10  Коробка передач                 36711 non-null  object
 11  Тип привода                     35677 non-null  object
 12  Сегмент                         33205 non-null  object
 13  Регион                          39966 non-null  object
 14  Наименование дилерского центра  39966 non-null  object
 15  Тип клиента                     32919 non-null  object
 16  Форма расчета                   14038 non-null  object
 17  Количество                      39960 non-null  float64
 18  Цена, USD                       39966 non-null  float64
 19  Продажа, USD                    39966 non-null  float64
 20  Область                         39966 non-null  object
 21  Сегментация 2013                39966 non-null  object
 22  Класс 2013                      39966 non-null  object
 23  Сегментация Eng                 39966 non-null  object
 24  Локализация производства        39966 non-null  object
dtypes: float64(3), int64(1), object(21)
memory usage: 7.6+ MB

удаляем столбцы: наименование дилерского центра, форма расчета, сегмент, сегментация eng, локализация производства, тип клиента и модификация (они либо бесполезны, либо много пропусков)

In [106]:
df = df.drop(df.columns[[5, 12, 14, 15, 16, 23, 24]], axis=1)

In [107]:
df.head()

,Год,Месяц,Компания,Бренд,Модель,Год выпуска,Страна-производитель,Вид топлива,"Объём двиг, л,",Коробка передач,Тип привода,Регион,Количество,"Цена, USD","Продажа, USD",Область,Сегментация 2013,Класс 2013
0,2019,Май,Mercur Auto,Audi,A3,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,28115.00,28115.00,г.Алматы,Легковые автомобили,C класс
1,2019,Август,Mercur Auto,Audi,A3,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,32246.99,32246.99,г.Алматы,Легковые автомобили,C класс
2,2019,Апрель,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-Tronic,FWD,Алматы,1.0,32000.00,32000.00,г.Алматы,Легковые автомобили,D класс
3,2019,Июль,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,31929.00,31929.00,г.Алматы,Легковые автомобили,D класс
4,2019,Июль,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,31929.00,31929.00,г.Алматы,Легковые автомобили,D класс

Изменим наименования столбцов

In [108]:
df=df.rename(columns={
    'Год': 'year', 'Месяц': 'month', 'Компания': 'company', 'Бренд': 'brand', 'Модель': 'model', 'Год выпуска': 'year_of_release', \
    'Страна-производитель': 'country_of_manufacture', 'Вид топлива': 'fuel', 'Объём двиг, л,': 'engine_volume', 'Коробка передач': 'transmission_box', \
    'Тип привода': 'type_of_drive', 'Регион': 'region', 'Количество': 'quantity', 'Цена, USD': 'price', 'Продажа, USD': 'sale', \
    'Область': 'oblact', 'Сегментация 2013': 'segment', 'Класс 2013': 'class'})

In [109]:
df.head()

,year,month,company,brand,model,year_of_release,country_of_manufacture,fuel,engine_volume,transmission_box,type_of_drive,region,quantity,price,sale,oblact,segment,class
0,2019,Май,Mercur Auto,Audi,A3,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,28115.00,28115.00,г.Алматы,Легковые автомобили,C класс
1,2019,Август,Mercur Auto,Audi,A3,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,32246.99,32246.99,г.Алматы,Легковые автомобили,C класс
2,2019,Апрель,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-Tronic,FWD,Алматы,1.0,32000.00,32000.00,г.Алматы,Легковые автомобили,D класс
3,2019,Июль,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,31929.00,31929.00,г.Алматы,Легковые автомобили,D класс
4,2019,Июль,Mercur Auto,Audi,A4,2018,Германия,Бензин,"1,4",S-tronic,передний,Алматы,1.0,31929.00,31929.00,г.Алматы,Легковые автомобили,D класс

Проверим датасет на пропуски

In [110]:
report = df.isna().sum().to_frame()
report = report.rename(columns = {0: 'missing_values'})
report['% of total'] = ((report['missing_values'] / df.shape[0])*100).round(2)
report.sort_values(by = 'missing_values', ascending = False)

                        missing_values  % of total
type_of_drive                     4289       10.73
engine_volume                     4258       10.65
transmission_box                  3255        8.14
fuel                              3140        7.86
year_of_release                    501        1.25
quantity                             6        0.02
region                               0        0.00
segment                              0        0.00
oblact                               0        0.00
sale                                 0        0.00
price                                0        0.00
year                                 0        0.00
month                                0        0.00
country_of_manufacture               0        0.00
model                                0        0.00
brand                                0        0.00
company                              0        0.00
class                                0        0.00

In [111]:
df[df['year_of_release'].isna()]

,year,month,company,brand,model,year_of_release,country_of_manufacture,fuel,engine_volume,transmission_box,type_of_drive,region,quantity,price,sale,oblact,segment,class
65,2019,Июнь,Автоцентр-Бавария,BMW,7 серия,NaN,Германия,Бензин,3,АКПП,Полный,Усть-Каменогорск,1.0,93520.28222,93520.28222,Восточно-Казахстанская область,Легковые автомобили,F класс
9599,2019,Май,Hyundai Com Trans Kazakhstan,Hyundai Truck & Bus,H350,NaN,Республика Казахстан,Дизель,NaN,NaN,2WD,Алматы,1.0,33833.35184,33833.35184,г.Алматы,Коммерческие автомобили,Крупнотоннажные грузовики
9600,2019,Май,Hyundai Com Trans Kazakhstan,Hyundai Truck & Bus,H350,NaN,Республика Казахстан,Дизель,NaN,NaN,2WD,Алматы,1.0,33833.35184,33833.35184,г.Алматы,Коммерческие автомобили,Крупнотоннажные грузовики
9601,2019,Май,Hyundai Com Trans Kazakhstan,Hyundai Truck & Bus,H350,NaN,Республика Казахстан,Дизель,NaN,NaN,2WD,Алматы,1.0,33833.35184,33833.35184,г.Алматы,Коммерческие автомобили,Крупнотоннажные грузовики
9602,2019,Май,Hyundai Com Trans Kazakhstan,Hyundai Truck & Bus,H350,NaN,Республика Казахстан,Дизель,NaN,NaN,2WD,Алматы,1.0,33833.35184,33833.35184,г.Алматы,Коммерческие автомобили,Крупнотоннажные грузовики
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39542,2019,Сентябрь,Volkswagen Group Rus,Volkswagen,Teramont,NaN,Российская Федерация,NaN,NaN,NaN,NaN,Костанай,1.0,49655.99915,49655.99915,Костанайская область,Внедорожники,Полноразмерные SUV
39554,2019,Июнь,Hyundai Com Trans Kazakhstan,Hyundai Truck & Bus,EX8,NaN,Республика Казахстан,NaN,NaN,NaN,NaN,Алматы,1.0,34590.76936,34590.76936,г.Алматы,Коммерческие автомобили,Малотоннажные грузовики
39555,2019,Июнь,Hyundai Com Trans Kazakhstan,Hyundai Truck & Bus,EX8,NaN,Республика Казахстан,NaN,NaN,NaN,NaN,Алматы,1.0,34590.76936,34590.76936,г.Алматы,Коммерческие автомобили,Малотоннажные грузовики
39556,2019,Июнь,Hyundai Com Trans Kazakhstan,Hyundai Truck & Bus,EX8,NaN,Республика Казахстан,NaN,NaN,NaN,NaN,Алматы,1.0,34590.76936,34590.76936,г.Алматы,Коммерческие автомобили,Малотоннажные грузовики
39557,2019,Июль,Hyundai Com Trans Kazakhstan,Hyundai Truck & Bus,EX8,NaN,Республика Казахстан,NaN,NaN,NaN,NaN,Алматы,1.0,34431.63774,34431.63774,г.Алматы,Коммерческие автомобили,Малотоннажные грузовики

In [112]:
df=df.dropna(axis=0, subset=['quantity','year_of_release'])

In [113]:
import re
magic_wand = re.compile(r'\D') 
df['year_of_release'] = df['year_of_release'].map(lambda x: magic_wand.sub('', x))

In [116]:
df['year_of_release'].value_counts()

year_of_release
2019    30023
2018     9078
2017      324
2016       30
2014        2
2013        1
2011        1
Name: count, dtype: int64

In [117]:
df['year'].unique()

array([2019], dtype=int64)

In [121]:
df['company'].unique()

array(['Mercur Auto', 'Автоцентр-Бавария', 'БИПЭК АВТО', 'Вираж',
       'Eurasia Motor Premium', 'Daewoo Bus Kazakhstan', 'Caspian Motors',
       'Каспиан Моторс', 'СемАЗ', 'Astana Motors', 'Astana Motors ',
       'Hyundai Com Trans Kazakhstan ', 'Nissan Manufacturing RUS',
       'СВС-ТРАНС', 'Allur Auto', 'Almaty Motors Premium', 'TERRA MOTORS',
       'ТК КАМАЗ', 'Toyota Motor Kazakhstan', 'Лифан Моторс Рус',
       'MAN Truck & Bus Kazakhstan', 'Автомир ГК', 'Autokapital',
       'Автокапитал', 'ММС Рус', 'MMC RUS', 'Mercur Autos',
       'УзАвто-Казахстан', 'Равон Моторс Казахстан',
       'Ravon Motors Kazakstan', 'Renault Россия', 'Scania Central Asia',
       'Subaru Kazakhstan', 'Volkswagen Group Rus', 'Автодом Motors KST',
       'Автомир-Центр', 'ТОО "Eurasia Motor Zhaik"',
       'Scandinavian Motors', 'Хино Моторс Казахстан', 'Hino Motors '],
      dtype=object)

In [123]:
# 1. Приводим всё к строке и нижнему регистру
df['company'] = df['company'].astype(str).str.strip()

In [127]:
df['company']= df['company'].replace({'Хино Моторс Казахстан':'Hino Motors', 'Каспиан Моторс':'Caspian Motors', 'Автокапитал':'Autokapital', 'Mercur Autos':'Mercur Auto', 'Автомир ГК':'Автомир-Центр'})

In [128]:
df['company'].value_counts()

company
Toyota Motor Kazakhstan         11951
Astana Motors                   10169
БИПЭК АВТО                       3618
Вираж                            2909
Allur Auto                       2305
Renault Россия                   1796
Nissan Manufacturing RUS         1149
Равон Моторс Казахстан            947
ТК КАМАЗ                          893
Mercur Auto                       643
Ravon Motors Kazakstan            559
Subaru Kazakhstan                 503
ММС Рус                           362
Лифан Моторс Рус                  233
Автоцентр-Бавария                 223
СВС-ТРАНС                         202
УзАвто-Казахстан                  142
Autokapital                       118
Eurasia Motor Premium             102
Автомир-Центр                      94
СемАЗ                              93
Almaty Motors Premium              87
TERRA MOTORS                       77
Hyundai Com Trans Kazakhstan       61
Автодом Motors KST                 53
Volkswagen Group Rus               41
Hino Motors                        41
Scandinavian Motors                40
ТОО "Eurasia Motor Zhaik"          15
Scania Central Asia                12
Daewoo Bus Kazakhstan              10
MAN Truck & Bus Kazakhstan          6
Caspian Motors                      3
MMC RUS                             2
Name: count, dtype: int64

Hino Motors и Хино Моторс Казахстан - одна и та же компания, согласно данным сайта https://2gis.kz/almaty/firm/70000001033786798?m=77.034227%2C43.327864%2F20

In [ ]:
# 2. Объединяем варианты "Россия"
df['country'] = df['country'].replace({
    'rus': 'россия',
    'росси': 'россия',
    'nan': 'неизвестно',  # если NaN стал строкой
    'none': 'неизвестно'
})

In [ ]:
# 3. Заменяем оставшиеся пропуски на 'неизвестно'
df['country'] = df['country'].replace('nan', 'неизвестно')

In [ ]:

# 4. Группируем редкие страны (<1%) в 'другие'
country_freq = df['country'].value_counts(normalize=True)
rare_countries = country_freq[country_freq < 0.01].index

In [ ]:
df['country'] = df['country'].replace(rare_countries, 'другие')

In [ ]:
# 5. Красивый формат
df['country'] = df['country'].str.title()

In [ ]:
comment_stats = df['country'].value_counts(dropna=False).to_frame(name='Количество')

In [ ]:
comment_stats['Процент (%)'] = (comment_stats['Количество'] / len(df) * 100).round(2)

In [ ]:
print("\nСтатистика по 'country':")
print(comment_stats.head(50))